@font-face {
	font-family:Break-Fill-Bold;
	src:url("../../fonts/Break-Fill Bold.otf");
}
@font-face {
	font-family:Break-Fill-Light;
	src:url("../../fonts/Break-Fill Light.otf");
}
@font-face {
	font-family:Break-Fill-Regular;
	src:url("../../fonts/Break-Fill Regular.otf");
}
@font-face {
	font-family:Break-Fill-Semibold;
	src:url("../../fonts/Break-Fill Semibold.otf");
}
@font-face {
	font-family:Break-Fill-Extralight;
	src:url("../../fonts/Break-Fill Extralight.otf");
}

@font-face {
	font-family:Lato-Regular;
	src:url("../../fonts/Lato-Regular.ttf");
}
@font-face {
	font-family:Lato-Semibold;
	src:url("../../fonts/Lato-Semibold.ttf");
}
@font-face {
	font-family:Lato-Bold;
	src:url("../../fonts/Lato-Bold.ttf");
}
@font-face {
	font-family:Roboto-Bold;
	src:url("../../fonts/Roboto-Bold.ttf");
}
// @font-face {
// 	font-family:Roboto-Regular;
// 	src:url("../../fonts/Roboto-Regular.ttf");
// }
@font-face {
	font-family:JosefinSans-Bold;
	src:url("../../fonts/JosefinSans-Bold.ttf");
}
@font-face {
	font-family:JosefinSans-Regular;
	src:url("../../fonts/JosefinSans-Regular.ttf");
}
@font-face {
	font-family:Roboto-BlackItalic;
	src:url("../../fonts/Roboto-BlackItalic.ttf");
}

@font-face {
	font-family:Myriad-Pro-Regular;
	src:url("../../fonts/Myriad Pro Regular.ttf");
}