.footer{
	text-align: center;

	&__tittle{
		@include font($bfr,3rem,$color-dark);
	}

	&__text{
		@include font($bfr,1.8rem,$color-dark-light);
		max-width: 50rem;
		margin: 0 auto;
	}

	&__social{
		.fa{
			@include font($s:1.5rem,$c:$color-dark-light);
			margin: 4rem 2.5rem;

			&:hover{
				color: $color-dark;
			}
		}
	}
}

.footer-nav {
	background-color: $color-silver-light;
	@include font($lr, 1.4rem, $color-dark-light);
	&__list {
		margin-top: 1rem;
		@include respondmin(md){
			text-align: left;
		}
		
	}

	&__item {
		margin-bottom: 1rem;
		@include font($lr, 1.4rem, $color-dark-light);
		padding: 0 2%;
	}

	&__author {
		margin-top: 1rem;
		@include respondmin(md){
			text-align: right;

		}
	}
}

.contact-info{
	margin-top: 10rem;
	&__btn{
		@include font($bfb, 1.8rem, $color-dark);
		margin-bottom: 3rem;
		border: 1px solid #ecedee;
		border-radius: 5rem;
		width: 100%;
		padding: 1.5rem 0;

		&:hover{
			@include font($c:$color-primary);
		}

		&:focus{
			box-shadow: none;
		}
	}	
}