//nav layoutdaki navigation dan geliyor
//page-tittle componentlerden geliyor
//order-steps componentlerden geliyor
//footer layoutdaki footer dan geliyor

.check-out{

	&__billing{
		border: 1px solid $color-border;
		padding-left: 3rem;
		padding-right: 3rem;
		padding-bottom: 4rem;
	}

	&__tittle{
		width: 100%;
		//width: calc(100% + #{6rem});
		//margin-left: -3rem;
		text-align: center;
		@include font($jsb, 1.4rem,$color-white);
		background-color: $color-dark-light;
		padding-top: 2.5rem;
		padding-bottom: 2.5rem;
		margin-bottom: 0;
		letter-spacing: 2px;
	}
	

	&__checkbox-text{
		@include font($lr, 1.4rem, $color-dark-light)
	}

	.order-steps__content {		
		background-image: url('../../img/checkout.png');		
	}

	.order-steps__item--2{
		color: $color-white;
	}


	input, textarea, select{
		@include font($lr,1.4rem, $color-dark-light);		
		border: none;
		border-bottom: 1px solid $color-light;			
		margin-top: 3rem;


		&:focus{
			box-shadow: none;
			border-bottom: 1px solid $color-primary;	

		}  

	}

	::placeholder {
		color: #c3ccce;

	}
	
	.col-form-label{
		@include font($lr, 1.4rem, $color-dark-light);
		margin-top: auto; 
	}

	.form-check-input{
		margin-top: 0;
	}

	&__promotion{
		border: 1px solid $color-border;
		padding: 2.5rem 2rem;

		input{
			margin-bottom: 1rem;
		}
	}
	&__promotion-text{
		@include font($lr, 1.4rem, $color-dark-light);
		text-align: center;
	}
	&__promotion-btn{
		@include font($rb, 1.3rem, $color-dark);
		border: 1px solid $color-border;
		border-radius: 5rem;
		padding: 1rem 2.5rem;
		letter-spacing: 1px;
		margin-top: auto;
	}

	&__order {

		border: 1px solid $color-border;
		padding-left: 2rem;
		padding-right: 2rem;

		&-text{
			@include font($lr, 1.4rem,  $color-dark-light);
			border: 1px solid $color-border;
			padding: 2rem;
			margin-top: 2rem;
			margin-bottom: 2rem;
		}

		&-btn{
			@include font($rb, 1.3rem, $color-dark);
			border: 1px solid $color-border;
			border-radius: 5rem;
			
			padding: 1rem 3.5rem;
			letter-spacing: 1px;
			&:hover{
				background-color: $color-dark;	
				color: $color-white
			}
		}

		th{
			@include font($lsb, 1.4rem, $color-dark-light);
		}

		td{
			@include font($jssb, 1.6rem, $color-dark-light);
		}

		.form-check-label{
			@include font($lr, 1.4rem,  $color-dark-light);
			margin-left: 2rem;
		}
	}
}