//navigation --> layout --> navigation
//page-tittle --> components --> page-tittle
//footer --> layout --> footer

.shop-grid {

	.page-tittle{
		background-image: linear-gradient(to right , transparent 50% , rgba(255, 255, 255, 0.3) 50%), url(../../img/shop-grid-tittle.png);
		background-size: cover;

		&__tittle {
			color: $color-white;
		}

		.breadcrumb-item, .breadcrumb-item a{
			color: $color-white;
		}

		.breadcrumb-item a:hover{
			color: $color-dark;			
		}

	}

	&__listing {

		select {
			@include  font($lr, 1.4rem, $color-dark-light);

			&:focus {
				box-shadow: none;
				outline: none;
				border-color: $color-primary;
			}
		}

		option {
			@include  font($lr, 1.4rem, $color-dark-light);

		}
	}



	&__listing-style {
		display: flex;

		.fa {
			width: 4rem;
			height: 4rem;
			font-size: 2.5rem;
			border:1px solid $color-border;
			display: flex;
			justify-content:center;
			align-items :center;
			cursor: pointer;
			color: #ecedee;

			&:hover {
				color: $color-white;
				background-color: $color-primary;
			}
		}

	}

	&__listing-active {
		color: $color-white;
		background-color: $color-primary;
	}

	&__listing-list {

	}

	&__listing-grid {

	}

	&__grid {

	}
	&__grid-item {
		padding: 3rem 2rem 3rem 2rem;
		border: 1px solid $color-border;
		position: relative;
		transition: transform .1s;

		&:hover {
			box-shadow: 6px 6px 71px -10px rgba(0,0,0,0.61);
			transform: scale(1.02)
		}
	}
	&__grid-item:hover &__overlay{
		opacity:1;
	}
	&__grid-img {
		width: 100%;
	}

	&__grid-price {
		@include font($ll, 1.8rem, $color-dark);
		display: flex;
		justify-content: flex-end;
	}

	&__grid-tittle {
		@include font($bfb, 1.6rem, $color-dark);

		&:hover {
			color: $color-primary;
		}
	}

	&__overlay {
		display: flex;
		padding: 1rem;
		border: 1px solid $color-border;
		border-radius: 5rem;
		background-color: #fff;
		transition: .5s ease;
		opacity: 0;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
		box-shadow: 6px 6px 71px -10px rgba(0,0,0,0.61);


		.fa {
			width: 5rem;
			height: 5rem;
			border-radius: 50%;
			font-size: 3rem;
			border:1px solid $color-border;
			display: flex;
			justify-content:center;
			align-items :center;
			cursor: pointer;

			&:hover {
				color: $color-white;
				background-color: $color-primary;
			}
		}
	}



	.input {
		padding: 1rem;
		border: 1px solid $color-border;
		border-right: none;

		&:focus {
			border-color: $color-primary;
		}
	}

	&__serch-btn {
		height: 100%;
		background-color: $color-primary;
		font-size: 1.8rem;
		color: $color-white;
		padding-left: 1rem;
		padding-right: 1rem;
		border: 1px solid $color-border;

		&:hover {
			background-color: $color-white;
			color: $color-primary;
		}

		&:focus {
			box-shadow: none;
		}
	}


	&__tittle {
		display: flex;
		@include font($bfb, 1.8rem, $color-dark);
		margin-bottom: 3rem;
		margin-top: 5rem;
	}

	&__tittle-line {
		width: 100%;
		height: 1px;
		background-color: $color-primary;
		display: flex;
		align-items: center;

	}

	&__categori {

	}

	&__categori-list {
		
	}

	&__categori-item {
		border-bottom: 1px solid $color-border !important;
		padding: 1.5rem 0;
	}

	&__categori-link {
		@include font($lsb, 1.6rem, $color-dark-light);

		&:hover {
			color: $color-primary;
		}
	}
	&__shopby {

	}

	&__shopby-price {
		@include font($lsb, 1.4rem, $color-dark-light);
		display: flex;
		flex-direction: column;
		&--1 {
			@include font($ll,1.6rem, $color-dark);
		}
	}

	&__banner {
		background-image: url('../../img/bannerbg.png');
		padding: 10rem 0;
		text-align: center;
		margin-top: 5rem;

		
	}
	&__banner-tittle {

		@include font($jsr, 3.6rem, $color-white);
		margin-bottom: 2.5rem;

		@include respondmax(lg) {
			font-size: 2.4rem;
		}

		@include respondmax(md) {
			font-size: 3.6rem;
		}
	}
	&__banner-subtittle {

		@include font($lb, 1.2rem, $color-white);
		letter-spacing: 5px;
		text-transform: uppercase;


	}

	&__featured {

	}

	&__featured-list {

	}

	&__featured-item {
		display: flex;
		align-items: center;
		margin-bottom: 3rem;
	}

	&__featured-img-link {

	}
	&__featured-img {
		max-height: 7rem;
		max-width: 7rem;
		padding: 1rem .5rem;
		border: 1px solid $color-border;
		margin-right: 3rem;
	}

	&__featured-text {
		display: flex;
		flex-direction: column;
	}

	&__featured-name-link {
		@include font($bfb, 1.6rem, $color-dark);
		margin-bottom: 1rem;

		&:hover {
			color: $color-primary;
		}
	}

	&__featured-price {
		@include font($ll, 1.8rem, $color-dark);
	}

	


	.pagination {
		justify-content: center;
		margin-top: 6rem;
		margin-bottom: 10rem;
	}

	.page-link {
		@include font($lsb, 1.4rem, $color-dark);
		width: 4rem;
		height: 4rem;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-left: 1rem;
		border-color: #e5e5e5;
	}

	.page-item.active .page-link {
		background-color: $color-primary;
		border-color: $color-border;
	}

	.page-link:hover {
		background-color: $color-primary;
		color: $color-white;
	}

}