$color-primary:#d4bfa2;

$color-dark:#485355;
$color-dark-light:#8e9c9f;

$color-silver:#f5f8fa;
$color-silver-light:#f4f8fb;

$color-light:#e7e7e7;

$color-white:#fff;

//Fonts

$bfb :'Break-Fill-Bold';
$bfl :'Break-Fill-Light';
$bfr :'Break-Fill-Regular';
$bfs :'Break-Fill-Semibold';
$bfel :'Break-Fill-Extralight';

$lr:'Lato-Regular';
$lsb:'Lato-Semibold';
$lb:'Lato-Bold';

$rb:'Roboto-Bold';
$rr:'Roboto-Regular';
$rbi:'Roboto-BlackItalic';

$jsb:'JosefinSans-Bold';

